<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <title>Visual Admin Dashboard - Manage Users</title>
    <meta name="description" content="">
    <meta name="author" content="templatemo">

    <link href='http://fonts.useso.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/templatemo-style.css" rel="stylesheet">
    <link href="/static/css/html.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>  

    <!-- Left column -->
    <div class="templatemo-flex-row">
      <!--Left column-->
        {% include 'admin/left.html' %}
    <!--left menu-->
        <script type="text/javascript">
          document.getElementById("id1").className="active"; 
          
        </script>
      <!--end left-->

      <!-- Main content--> 
      <div class="templatemo-content col-1 light-gray-bg">
        <!--header-->
          <!--<#include "head.ftl">-->
        {% include "admin/head.html" %}
       <!--end header-->
        
        <div class="templatemo-content-container">
     
          <div class="panel panel-default no-border">
              <div class="panel-heading border-radius-10">
                <h2>基本信息</h2>
                <script type="text/javascript">
                  laypage({
                      cont: 'page11',
                      pages: 18, //可以叫服务端把总页数放在某一个隐藏域，再获取。假设我们获取到的是18
                      curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
                          var page = location.search.match(/page=(\d+)/);
                          return page ? page[1] : 1;
                      }(), 
                      jump: function(e, first){ //触发分页后的回调
                          if(!first){ //一定要加此判断，否则初始时会无限刷新
                              location.href = '?page='+e.curr;
                          }
                      }
                  });

                  
                </script>
              </div>
          </div>
          <div class="templatemo-flex-row flex-content-row templatemo-overflow-hidden"> <!-- overflow hidden for iPad mini landscape view-->

            <div class="col-1 templatemo-overflow-hidden">
              <div class="templatemo-content-widget white-bg templatemo-overflow-hidden">
                <div class="templatemo-flex-row flex-content-row">
                          <div class="title">
                                   

                                     <table class = 'zebra'>
                                        <thead>
                                        <tr>
                                              <th width="10%">手机号</th>
                                              <th width="12%">是否通过身份验证</th>
                                              <th width="8%">手机归属地</th>
                                              <th width="10%">手机类型</th>
                                              <th width='7%' >信用分数</th>
                                              <th width='10%'>申请时间</th>
                                              <th width='10%' >教育程度</th>
                                              <th width='10%' >是否结婚</th>
                                              <th width='6%'>职业</th>
                                              <th width='7%'>统计</th>
                                              <th width='7%'> 删除 </th>
                                        </tr>
                                        </thead>
                                            {% load selftag %}
                                            {% for u in users%}
                                                <tr class = "{% cycle 'a1' 'aa' %}">
                                                      <td> {{ u.user.name }}  </td>
                                                  <td> {{ u.is_certification }} </td>
                                                  <td> {{ u.phone_place }}</td>
                                                      <td> {{ u.phone_type }}</td>
                                                      <td> <a href='/apix/ruleitems/?uid={{ u.user_id | banary_to_str:" " }}'> {{ u.trust_score}} </a></td>
                                                      <td> {{ u.created_at  | date:"Y,m,j"}}</td>
                                                      <td> {{ u.education }} </td>
                                                      <td> {{ u.marry_info }} </td>
                                                      <td> {{ u.profession }} </td>
                                                  <td> <a href='/apix/rulesinfo/?uid={{ u.user_id | banary_to_str:" " }}'>查看</a></td>
                                                  <td> <a href='/apix/deluser/?uid={{ u.user_id | banary_to_str:" " }}' onclick='return confirm("确定删除?")'>删除</a></td>

                                            </tr>
                                        {% endfor %}
                                    </table>
                        <div>





                        </div>
                        </div>
                </div>                
              </div>
            </div>
          </div>
          <!--footer-->
            {% include "admin/footer.html" %}            
          <!--end-->
         
        </div>
      </div>
    </div>
    
    <!-- JS -->
    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>      <!-- jQuery -->
    <script type="text/javascript" src="/static/js/templatemo-script.js"></script>      <!-- Templatemo Script -->
     


  </body>
</html>
