<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <title>后台管理</title>
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    
    <link href='http://fonts.useso.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/templatemo-style.css" rel="stylesheet">
    <link href="/static/css/html.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you viSSew the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>
  <body>  
    <!-- Left column -->
    <div class="templatemo-flex-row">
      <!--Left column-->
        {% include "admin/left.html" %}
      <script type="text/javascript">
          document.getElementById("_apix_role_").className="active"; 
      </script>
      <!--end left-->
      <!-- Main content --> 
      <div class="templatemo-content col-1 light-gray-bg">
        <!--header-->
          {% include "admin/head.html" %}
        <!--end header-->
        <div class="templatemo-content-container">         
          <div class="templatemo-content-widget white-bg">
            <h2 class="margin-bottom-10">用户权限管理</h2>
            <div class="panel panel-default no-border">
              <div class="panel-heading border-radius-10">
                <h2>系统用户列表</h2>
              </div>
              <div class="panel-body">
                <div class="templatemo-flex-row flex-content-row margin-bottom-30">
                　<!-- model1 start -->
                           <div class="title">                               
                                     <table class = 'zebra' id='users_list'>                                        
                                        <tr>
                                              <th width="10%">id</th>
                                              <th width="12%">级别</th>
                                              <th width="8%">登陆ip</th>
                                              <th width="10%">最后登陆时间</th>
                                              <th width="10%">删除</th>
                                        </tr>
                                       
                                            {% for u in adminusers%}
                                                <tr class = "{% cycle 'a1' 'aa' %}">
                                                      <td> {{ u.id }}  </td>
                                                  　<td> {{ u.login_name }} </td>
                                                  　<td> 129.168.1.129</td>                                                 
                                                      <td> {{ u.login_time  | date:"Y,m,j"}}</td>                                                  
                                                      <td> <a href='/apix/delsysuser/?uid={{u.id}}' onclick='return confirm("确定删除?")'>删除</a></td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                        　　</div>              　                   
                  <!-- end model1 -->
                </div>     
              </div>
            </div>         
            <!-- start statTable1 -->
         
          <script type="text/javascript">
              function create_user(){
                      username = document.getElementById('inusername').value
                      pwd  = document.getElementById('inpwd').value
         

                     $.ajax({  
                            type:'post',      
                            url:'/apix/createuser/',  
                            data:{
                                  "name" : username,
                                  "pwd" : pwd
                            },
                            dataType:"json",  
                            success:function(data){ 
                              if (data['notnull'] ==-2 ){
                                        document.getElementById('inusername').value=''
                                        document.getElementById('inusername').placeholder='不能为空'
                              }else if (data['notnull'] ==-1){
                                        document.getElementById('inpwd').value=''
                                        document.getElementById('inpwd').placeholder='不能为空'
                             }else if(data['notnull'] ==-3 ){
                                        document.getElementById('inusername').value=''
                                        document.getElementById('inusername').placeholder='已经存在'                                        
                            }else{
                                        str_rs='<tr><td>'+data['id']+'</td>'
                                        str_rs+='<td>'+data['login_name']+'</td>'
                                        str_rs+='<td>'+data['ip']+'</td>'
                                        str_rs+='<td>'+data['login_time']+'</td><tr>'
                                        document.getElementById('users_list').innerHTML+= str_rs  
                                        op="<option value='"+data["id"]+" '>"+data["login_name"]+"</option>"
                                        document.getElementById('select_user').innerHTML+=op  
                            }
                        }  
                    });  
                   } 
              function create_role(){
           
                     var options = document.getElementsByName("emailOptions")
                      checkbox_str=''
                      for(var i=0;i<options.length;i++){
                              if (options[i].checked){
                                 checkbox_str+=options[i].value
                              }
                    }                     
                    role_name = document.getElementById('rolename').value
 
                     $.ajax({  
                            type:'get',      
                            url:'/apix/createrole/',  
                            data:{
                                  "rolename" : role_name,
                                  "privaliage_list" : checkbox_str
                            },
                            dataType:"json",  
                            success:function(data){ 
    

                              if(data['notnull']==0){
                                      /*角色不能*/

                              }
                              else if(data['notnull'] ==-1){
                                    document.getElementById('rolename').value=''
                                    document.getElementById('rolename').placeholder='已经存在'                                   
                              }
                              else{
                                      op="<option value=' "+data["rid"]+" '>"+data["rolename"]+"</option>"
                                      document.getElementById('select_role').innerHTML+=op
                              }

                          }  
                      });   
                   } 
                /*分配角色*/
              function distr_role(){

                      var sel = document.getElementById("select_user");
                      var uid = sel.options[sel.selectedIndex].value;  
                      var sel = document.getElementById("select_role");
                      var rid = sel.options[sel.selectedIndex].value;     
          
                     $.ajax({  
                            type:'get',      
                            url:'/apix/distrrole/',  
                            data:{
                                  "uid" : uid,
                                  "rid" : rid
                            },
                            dataType:"text",  
                            success:function(data){ 
                                      alert(data)
                               
                          }  
                      });   
                   } 

              function chage_role(obj){
                      var sel = obj
                      var rid = sel.options[sel.selectedIndex].value;

 
                       $.ajax({  
                              type:'get',      
                              url:'/apix/chagerole/',  
                              data:{
                                    "rid" : rid
                              },
                              dataType:"json",  
                              success:function(data){
                                   
                                      var arr = data['privaliage_id_list']
                                       var options = document.getElementsByName("emailOptions")
                                        for(var i=0;i<options.length;i++){
                                              if (options[i].checked){
                                                    options[i].checked=false
                                              }
                                         }                                      
                                        for(var i=0;i<arr.length;i++){
                                            id='c'+arr[i]
                                            document.getElementById(id).checked=true
                                        }
                                        /*当前不能修改角色名字*/
                                        if (arr.length>0){
                                              document.getElementById('rolename').value = sel.options[sel.selectedIndex].text;
                                              document.getElementById('rolename').disabled=true
        
                                        }else{
                                              document.getElementById('rolename').value=''
                                                document.getElementById('rolename').disabled=false
                                        }
                            }  
                        });   
                   } 


            </script> 
            <div class="panel panel-default no-border">
              <div class="panel-heading border-radius-10">
                <h2>创建用户</h2>
              </div>
              <div class="panel-body">
                <div class="templatemo-flex-row flex-content-row margin-bottom-30">
                <!-- model1 start -->
                      <form action="＃" class="templatemo-login-form" method="post">
                        <div class="row form-group">
                          <div class="col-lg-6 col-md-6 form-group">                  
                              <label for="inputFirstName">账号</label>
                              <input type="text" class="form-control" id="inusername" placeholder="必填" name="uname">                  
                          </div> 
                        </div>
                        <div class="row form-group">
                          <div class="col-lg-6 col-md-6 form-group">                  
                              <label for="inputFirstName">密码</label>
                              <input type="password" class="form-control" id="inpwd" placeholder="必填" name='passwd'>                  
                          </div> 
                        </div>
                        <div class="form-group text-right">
                          <button type="button" class="templatemo-blue-button" onclick="create_user();">创建</button>
                          <button type="reset" class="templatemo-white-button">重置</button>
                        </div>                           
                      </form>
                  <!-- end model1 -->
                </div>     
              </div>
            </div>       
            <!-- end statTable1 -->   
            <!-- start statTable2 -->
            <div class="panel panel-default no-border">
              <div class="panel-heading border-radius-10">
                <h2>创建角色</h2>
              </div>
              <div class="panel-body">
                <div class="templatemo-flex-row flex-content-row margin-bottom-30">
                <!-- model1 start -->
                            <form action="＃" class="templatemo-login-form" method="post">
                              <div class="row form-group">
                                <div class="col-lg-6 col-md-6 form-group">                  
                                    <label for="inputFirstName">角色名称（**必填**）</label>
                                    <input type="text" class="form-control"  placeholder="必填" id='rolename'>                  
                                </div> 
                              </div>
                              <div class="row form-group">
                                <div class="col-lg-6 col-md-6 form-group">                  
                                    <label for="inputFirstName">权限（**必选**）</label>
                                     <div class="templatemo-block margin-bottom-5">
                                      {% for u in prlist%}
                                           <input type="checkbox" name="emailOptions" id="c{{ u.privaliage_id}}" value="{{ u.privaliage_id }}c" >
                                           <label for="c{{ u.privaliage_id}}" class="font-weight-400"><span></span>{{ u.privaliage_name}}</label>                                         
                                      {% endfor%}
                                     </div> 
                                </div> 

                              </div>
                              <div class="form-group text-right">
                                <button type="button" class="templatemo-blue-button" onclick="create_role()">创建</button>
                                <button type="reset" class="templatemo-white-button">重置</button>
                              </div>                           
                            </form> 　
                       <!-- end model2-->                    
                  </div> 
                  
                </div>     
              </div>
            <div class="panel panel-default no-border">
              <div class="panel-heading border-radius-10">
                <h2>分配角色</h2>
              </div>
              <div class="panel-body">
                <div class="templatemo-flex-row flex-content-row margin-bottom-30">
                <!-- model1 start -->
                            <form action="＃" class="templatemo-login-form" method="post">

                            　
                               <div class="row form-group">
                                        <div class="col-lg-6 col-md-6 form-group"> 
                                        <label class="control-label templatemo-block">角色</label>                 
                                        <select   class="templatemo-multi-select form-control" id='select_role' onchange="chage_role(this)">
                                               <option value="-1">-----</option>
                                              {% for role in r %}
                                                 <option value="{{ role.rid }}">{{ role.descname }}</option>
                                              {% endfor %}                  
                                        </select>
                                      </div>                     
                              </div>
                              <div class="row form-group">
                                        <div class="col-lg-6 col-md-6 form-group"> 
                                        <label class="control-label templatemo-block">用户</label>                 
                                        <select   class="templatemo-multi-select form-control" id='select_user' >
                                         　　{% for u in adminusers%}
                                                     <option value=" {{ u.id }}"> {{ u.login_name }}</option>
                                       　　{% endfor %}           
                                        </select>
                                      </div>                     
                              </div>                            
                              <div class="form-group text-right">
                                <button type="button" class="templatemo-blue-button" onclick="distr_role();">分配</button>
                                <button type="reset" class="templatemo-white-button">重置</button>
                              </div>                           
                            </form> 　
                       <!-- end model2-->                    
                  </div> 
                  
                </div>     
              </div>
            </div>       
            <!-- end statTable2 -->
            <!-- start statTable3-->
　      
            <!-- end statTable3-->
          </div>
          <!--footer-->
           {% include "admin/footer.html" %}
          <!--end-->        
        </div>
      </div>
    </div>
    
    <!-- JS -->
    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>      <!-- jQuery -->
    <script type="text/javascript" src="/static/js/templatemo-script.js"></script>      <!-- Templatemo Script -->
  </body>
</html>
